extends layout

block content
  h1= title
  p Logan Zoller eggs class server
  
  - let items = results

  ul
    each item in items
      li
        | #{item.bird_type} | #{item.color} | #{item.size}
