extends layout

block content
  h1 Eggs 
  p Logan Zoller eggs class server
  
  - let items = results

  div(class="container-fluid")
    div(class="row")
      each item in results
        div(class="row-sm-2", class="m-1")
          | Item #{item.bird_type} (#{item.color}) is #{item.size}
          a.btn.btn-primary(href=`/egg/${item._id}/update`) Update