extends layout 

block content
    h1 Egg details page

    - let eggid = toShow._id
    - let bird_type = toShow.bird_type
    - let eggcolor = toShow.color
    - let eggsize = toShow.size
    div
        div.row
            div(class='eggAttr mr-3') Egg ID is: 
            div #{eggid}
        div.row
            div(class='eggAttr mr-3') Bird is: 
            div #{bird_type}
        div.row
            div(class='eggAttr mr-3') Egg Color is: 
            div #{eggcolor}
        div.row
            div(class='eggAttr mr-3') Egg Size is: 
            div #{eggsize}